/* Color values may change based on issue #105 */
:root {
  --fs-green: #2f4a0b;
  --fs-green-lighter: #537d1a;
  --fs-yellow: #f5ea53;
}

/* we have to hardcode this one since we can't use our template tag here */
.usa-hero{
    background-image:url("/static/vendor/uswds-2.11.2/img/hero.png");
}

/* Admin */

/* Override Django admin link handling */
.admin a { color: var(--fs-green); }
.admin a:hover, .admin a:visited { color:var(--fs-green-lighter); }

.admin .usa-nav-container { /* USWDS overrides */
    max-width: 100%;
    color: var(--fs-green); 
    border-bottom: 1px solid;
}
.admin .usa-nav-container a.usa-nav__link:hover {
    color: var(--fs-green-lighter);
}
.admin .usa-nav-container a.usa-nav__link:hover::after {
    background-color: var(--fs-green-lighter);
}
.admin .usa-logo { margin-top: 0; }
.admin .usa-logo__text { white-space: nowrap; } /* USWDS override */
.admin .usa-nav__primary { margin-bottom: 0; } /* Django override */
.admin .usa-nav__primary li { list-style-type: none; } /* Django override */
.admin .usa-nav__primary .usa-nav__text { padding: 1rem; } /* Make welcome text match nav links */

.module h2, .module caption, .inline-group h2 { /* Django overrides */
    background-color: var(--fs-green-lighter);
}

fieldset{ /* USWDS override */
    padding: 0;
  }
.admin .form-row {
  display: flex;
  align-items: top;
  padding: 10px 0 20px;
}
.admin .form-row .fieldBox {
    flex: 50%;
}
.admin .aligned label {
    float: none;
    width: auto;
    font-size: 1.25em;
    color: #222
}

.admin .aligned .help {
    margin-left: 0;
    padding-left: 0;
}

.admin .form-row .fieldBox textarea,
.admin .aligned [type=text].text-wide {
    width: 100%;
}

.usa-breadcrumb {
    padding-left: 2em;
    border-bottom: 1px solid #ccc;
}


/* inexplicably, these classes are present in USWDS docs pages, but do not appear in the USWDS css, so we're replicating them here. */
.site-page-title {font-size: 2.5rem;}
.site-text-intro {font-size: 1.25rem;}

/* Our custom admin pages */
.admin.app-grants input[type=text] {
    width: 30em
}
.admin.app-grants .dateinput input[type=text] {
    width: 10em
}