<!DOCTYPE html>
<html lang="en" {% block html_tag_extra %} {% endblock html_tag_extra %} class="no-js">

<head {% block head_tag_extra %} {% endblock head_tag_extra %}>
  <meta charset="utf-8">
  <title>
    {% block title_before %}{% endblock %}
    {{ site.name }}
    {% block title_after %}{% endblock %}
  </title>
  <meta property="og:title" content="{{ site.name }} {% block og_title_after %}{% endblock %}">

  <meta name="description" content="{% block description %}{% endblock %}">
  <meta property="og:description" content="{% block og_description %}{% endblock %}">

  {% load static %}

  <!-- Mobile properties -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  {% block viewport_meta %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% endblock %}

  {% block extra_meta %}{% endblock extra_meta %}

  <link href="{% static 'vendor/uswds-2.10.1/css/uswds.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/site.css' %}" rel="stylesheet" type="text/css" />

  {% block canonical %}{% endblock %}

  {% include "includes/favicons.html" %}

  {% block extrahead %}{% endblock %}
  {% block feeds %}{% endblock %}
</head>

<body id="{% block bodyid %}default{% endblock %}" class="{% block bodyclass %}{% endblock %}">
  <header class="usa-header usa-header--extended" role="banner">
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>
    <section class="usa-alert usa-alert--warning">
      <div class="usa-alert__body">
        <h3 class="usa-alert__heading">BETA SITE:</h3>
        <p class="usa-alert__text">We are developing a new Grants Management application.</p>
      </div>
    </section>
    {% include "includes/header.html" %}
    {% block navigation %}{% endblock navigation %}
  </header>
  <main id="main-content">
    {% block messages %}
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endblock %}
    {% block main %}{% endblock %}
    {% block page_js %}{% endblock page_js %}
  </main>

  {% block complementary %}<div role="complementary"></div>{% endblock %}</div>

  {% block footer %}
  {% include "includes/footer.html" %}
  {% endblock %}

  {% block init_js %}{% endblock %}{# useful for vars and other initializations #}

  {% block site_js %}
  <script src="{% static 'vendor/uswds-2.10.1/js/uswds.min.js' %}"></script>
  {% endblock %}

  {% block app_js %}{% endblock %}

</body>

</html>