[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-widget-tweaks = "*"

[dev-packages]
coverage = "*"
bandit = "*"
flake8 = "*"
black = "==20.8b1"

[requires]
python_version = "3.9"
