[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
psycopg2-binary = "*"

[dev-packages]
coverage = "*"
bandit = "*"
flake8 = "*"

[requires]
python_version = "3.9"
