{% load widget_tweaks %}
<div class="usa-form-group{% if field.errors %} usa-form-group--error{% endif %}" >
  {% if field.field.required %}
  <label class="usa-label{% if field.errors %} usa-label--error{% endif %}" id="{{ field.name }}-label" for="{{ field.id_for_label }}">
    <strong>{{ field.field.label }}</strong> 
    <span class="usa-hint">(required)</span>
  </label>
  {% else %}
  <label class="usa-label" id="{{ field.name }}-label" for="{{ field.id_for_label }}">
    {{ field.field.label }}
  </label>
  {% endif %}
  {% if field.help_text %}
    <p class="usa-hint">{{ field.help_text|safe }}</p>
  {% endif %}
  {# data-default-value is just used by the date picker but is harmless for other inputs #}
  {% if field.value %}
    {# if there is a value given, we'll use it #}
    <div class="{{ field|widget_type }} {{ parent_class }}" data-default-value="{{ field.value|date:'Y-m-d' }}">
  {% elif default_now_if_empty %} 
    {# If we've said we want to default to now, we'll do that #}
    <div class="{{ field|widget_type }} {{ parent_class }}" data-default-value="{% now 'Y-m-d' %}">
  {% else %}
    {# otherwise we want no default, just go #}
    <div class="{{ field|widget_type }} {{ parent_class }}">
  {% endif %}
    {% if field.errors %}
      {{ field|add_class:"usa-input usa-input--error" }}
    {% else %}
      {{ field|add_class:"usa-input" }}
    {% endif %}
  </div>
  {% if field.errors %}
    <span class="usa-error-message">{{ field.errors }}</span>
  {% endif %}
</div>
