{% include "includes/field.html" with field=form.proj_title %}
{% include "includes/field.html" with field=form.proj_desc %}
{% include "includes/field.html" with field=form.applicant_name %}
{% include "includes/field.html" with field=form.applicant_est_fund %}
{% include "includes/field.html" with field=form.app_submit_date parent_class="usa-date-picker" default_now_if_empty=True %}
{% include "includes/field.html" with field=form.app_received_date parent_class="usa-date-picker" default_now_if_empty=True %}
{% include "includes/field.html" with field=form.proposed_start_date parent_class="usa-date-picker" %}
{% include "includes/field.html" with field=form.proposed_end_date parent_class="usa-date-picker" %}
{% include "includes/field.html" with field=form.progrm_responsibility_type %}
{% include "includes/field.html" with field=form.master_fed_id %}
<br />
<br />
